:root {
    --cor-0: #FFFFFF;
    --cor-1: #BDBDBD;
    --cor-2: #4F4F4F;
    --cor-3: #333333;
}

.cor-0 {
    color: var(--cor-0);
}
.cor-1 {
    color: var(--cor-1);
}
.cor-2 {
    color: var(--cor-2);
}
.cor-3 {
    color: var(--cor-3);
}